main.css
.htaccess
node_modules/
editor-style.css
editor-style.css.map
bundle.js
package-lock.json
.DS_Store
Thumbs.db

/*.php
/*.html
/*.txt
/wp-admin
/wp-includes
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentytwo
/wp-content/plugins/*
!/wp-content/plugins/MyScheduler/
